representacionDeInformacion/dtd/sucursal.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<!ELEMENT sucursal (nombre, direccion, telefono, platos, empleados)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (pais, ciudad, comuna-provincia-sector, callle, numero)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT platos (plato+)>
<!ELEMENT empleados (empleado+)>
<!ELEMENT empleado (nombre, apellidoPaterno, apellidoMaterno, rut, cargo)>
<!ELEMENT apellidoPaterno (#PCDATA)>
<!ELEMENT apellidoMaterno (#PCDATA)>
<!ELEMENT rut ANY>
<!ELEMENT cargo (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT comuna-provincia-sector (#PCDATA)>
<!ELEMENT callle (#PCDATA)>
<!ELEMENT numero (#PCDATA)>
<!ELEMENT plato (nombre, precio)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT dv (#PCDATA)>
